.notification {
  z-index: 10000 !important;
}

.bx--inline-notification--low-contrast.bx--inline-notification--success {
  min-width: max-content;
  z-index: 10000 !important;
}

.bx--inline-notification--low-contrast.bx--inline-notification--warning {
  min-width: max-content;
  z-index: 10000 !important;
}
