.placeholder-text {
  background: #fff;
  padding: 5px;
  color: #444 !important;
}

.add-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.severity-options-group{
  flex-wrap: wrap;
  gap: 10px;
}