<link rel="stylesheet" href="common/styles/labResultsPrint.css"/>

<div class="print-wrapper lab-results-print">
    <!-- Header -->
    <div class="print-header">
        <div class="print-logo-plus-text">
            <img class="print-logo" width="125px" ng-if="printParams.logo" ng-src="{{printParams.logo}}" alt="CURE Logo"/>
            <h1>CURE Children's Hospital<span class="ethiopia">of Ethiopia</span></h1>
            <div class="print-right"></div>
        </div>
    </div>
    <h3>LABORATORY TESTS</h3>
    <p class="location-address"><strong>{{printParams.locationAddress}}</strong></p>
    <!-- Patient Information Table -->
    <table class="patient-table">
        <tr>
            <td colspan="2"><strong>Name of the Patient:</strong> {{patient.name || patient.given_name}} {{patient.family_name}} ({{patient.identifier}})</td>
            <td><strong>Date:</strong> {{accessionDateTime | bahmniDate}}</td>
        </tr>

        <tr>
            <td><strong>Age:</strong> {{patient.age}}{{patient.age ? ' years' : ''}}</td>
            <td><strong>Sex:</strong> {{patient.gender || patient.genderText}}</td>
            <td><strong>Weight:</strong> {{patient.weight}}{{patient.weight ? ' Kg' : ''}}</td>
        </tr>
        <tr>
            <td><strong>Address:</strong>{{patient.address.address5}}</td>
            <td><strong>Kebele:</strong> {{patient.address.address4}}</td>
            <td><strong>Woreda:</strong> {{patient.address.address3}}</td>
        </tr>
        <tr>
            <td><strong>Zone:</strong> {{patient.address.address2}}</td>
            <td><strong>Region:</strong> {{patient.address.address1}}</td>
            <td><strong>Country:</strong> {{patient.address.country}}</td>
        </tr>
        <tr>
            <td><strong>Tel no:</strong> {{patient.phoneNumber}}</td>
            <td colspan="2"><strong>Allergies:</strong> {{patient.allergies}}</td>
        </tr>
    </table>

    <!-- Lab Tests Section -->
    <div class="section-title">LAB TESTS</div>

    <table class="lab-results-table">
        <tr>
            <th>{{ 'TEST_NAME_LABEL' | translate }}</th>
            <th>{{ 'NOTES_LABEL' | translate }}</th>
        </tr>
        <tr ng-repeat="test in labOrderResults">
            <td ng-class="{'sub-test-name': test.isSubTest}">{{test.name}}</td>
            <td>{{test.notes}}</td>
        </tr>
    </table>

    <!-- Doctor Section -->
    <div class="section-title">Doctor:</div>

    <table>
        <tr>
            <td class="no-border"><strong>Full Name:</strong> {{printParams.provider.fullName || printParams.provider.name || ''}}</td>
        </tr>
        <tr>
            <td class="no-border"><strong>Title:</strong> {{printParams.provider.title || ''}}</td>
        </tr>
        <tr>
            <td class="no-border"><strong>Medical Licence Number:</strong> {{printParams.provider.licenceNumber || ''}}</td>
        </tr>
    </table>

</div>
